* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ancizar Sans", sans-serif;
}



header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #1F2937;
}

button {
    background-color: #3D4B60;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 4.6px;
    -webkit-border-radius: 4.6px;
    -moz-border-radius: 4.6px;
    -ms-border-radius: 4.6px;
    -o-border-radius: 4.6px;
}
h2 {
    color: #fff;
}

.color,
.color-hex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.color-hex {
    height: fit-content;
}

main {

    div {
        height: calc(100vh - 124px);
    }

    span {
        color: #D5D4D8;
        padding: 15px 0px;
        white-space: nowrap;
        background-color: #1F2937;
    }
}

.special-color-element {
    background-color: #00ffff;
}
